/*general*/

body {
	background-image: url("../images/background.jpg");
	background-repeat: repeat; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
	line-height: 1.5;
}

a:link {
	color: #777777;
	text-decoration: none;
}


h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 28px;
	font-weight: bold;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 22px;
	font-weight: bold;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
  }

  #main-container {
	padding-top: 130px;
  }

  .main-section {
	float: left;
	width: 100%;
	max-width: 650px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #ddd;	
  }

  .header1 {
	border-bottom: solid #dddddd;
	padding: 20px 0px 15px 0px;
	margin: 0px 0px 20px 0px;
}
/*clearfix*/

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*images*/

#about-image {
	width: 250px;
	float: left;
	padding: 0px 25px 5px 0px;
}

#github-logo {
	width: 48px;
	height: 48px;
	margin-right: 15px;
}

#github-logo:hover {
	opacity: 0.3;
}

#linkedin-logo {
	width: 48px;
	height: 48px;
	margin-right: 15px;

}

#linkedin-logo:hover {
	opacity: 0.3;
}

#overflow-logo {
	width: 48px;
	height: 48px;
}

#overflow-logo:hover {
	opacity: 0.3;
}

/*Navbar*/

#masthead {
	position: fixed;
	z-index: 99;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: #fff;
	background: #fff;
	border-bottom: 2px solid #ccc;
  }

  #logo {
	float: left;
	width: 250px;
	height: 90px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 90px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #4aaaa5;
  }

  nav {
	float: right;
	margin-top: 25px;
  }

  nav a {
	display: inline-block;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	color: #999;
	text-decoration: none;
	border-left: 1px solid #efefef;
  }

  nav a:first-child {
	border-left: 0 none;
  }

nav a:hover {
	text-decoration: underline;
}

/*Social Links*/

.sidebar {
	float: right;
	width: 100%;
	max-width: 270px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;
  }

  h3,
  .sidebar h2 {
	margin-bottom: 10px;
	line-height: 22px;
	border-bottom: 2px solid #eee;
  }

  .social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 10px;
  }

  .social:last-child {
	margin-right: 0;
  }


.header2 {
	border-bottom: thin solid #dddddd;
	padding: 20px 0px 15px 0px;
	margin: 0px 0px 20px 0px;
}

/*footer*/

footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;	
    text-align: center; 
    color: #dddddd; 
    font-size: 12px;   
    height: 100px;
    width: 100vw;
    border-top: thick solid #4aaaa5;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 100px;
	margin-bottom: -150px;
}

/*Portfolio Hover Text*/

.container-img {
	float: left;
	position: relative;
	width: 250px;
	margin: 10px 25px 15px 0;
}

.portfolio-image {
	width: 260px;
	display: block;
	float: left;
	position: relative;
	margin-left: 50px
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 17px;
	background-color: #4aaaa5;
	width: 260px;
	height: 25%;
	margin-left: 33px;
}


.text {
	white-space: nowrap;
	color: white;
	font-size: 18px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*Contact Form*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.5;
}

#contact-form {
    padding-right: 10px;
}

label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 18px;
}

#fname, #email, #subject {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
}

/* Media Queries */

@media screen and (max-width: 980px) {

#masthead {
	position: static;
}

#main-container {
	padding: 0;
}

.main-section {
	width: 40vw;
	margin-left: 12vw;
	padding-right: 20px;
}

.sidebar {
	width: 25vw;
	margin-right: 12vw;
}

#logo {
	margin-left: 12vw;
}

nav {
	margin-right: 12vw;
}

.social {
	width: 6vw;
	height: auto;
}

/* Portfolio */
.portfolio-image {
	width: 35vw;
	margin-left: 25px;
}

.overlay {
	width: 35vw;
	margin-left: 8px;
}

.container-img {
	margin-right: 40px;
}
	
		/* Footer */
		footer {
			position: static;
			bottom: 0;
			left: 0;
			display: inline-block;
			margin-top: 100px;
			width: 100vw;
		}
	}
	@media screen and (max-width: 768px) {

		.social {
			width: 8vw;
			height: auto;
			padding-right: 25px;
		}

		.main-section {
			width: 80vw;
			margin-left: 8vw;
		}
		
		.sidebar {
			width: 85vw;
			max-width: 85vw;
			margin-left: 8vw;
			float: left;
		}
		
		#logo {
			margin-left: 8vw;
		}
		
		nav {
			margin-right: 8vw;
		}

		.portfolio-image {
			width: 35vw;
			float: none;
		}
	
		.overlay {
			width: 35vw;
		}
		.images {
			margin-left: 1vw;
		}
	}
	

	@media screen and (max-width: 640px) {
		
		.social {
			width: 10vw;
			height: auto;
			padding-right: 25px;
		}

		#logo {
			width: 100vw;
			margin-left: 0;
			border-bottom: solid #dddddd;
		}

		nav a {
			width: 20vw;
			padding-left: 10vw;
			margin-top: 5vw;
		}

		nav {
			height: 180px;
			margin: 0;
			float: none;
		}
	
		/* Portfolio Page */

		.portfolio-image {
			width: 75vw;
			margin-left: 15px;
		}
	
		.overlay {
			width: 75vw;
			margin: -2px;
		}
	
	}
	@media screen and (min-width: 981px) {
		
			.overlay {
				/* position: absolute; */
				/* bottom: 0; */
				/* left: 0; */
				/* right: 0; */
				background-color: #4aaaa5;
				overflow: hidden;
				width: 260px;
				height: 0;
				transition: .5s ease;
			}
			
			.container-img:hover .overlay {
				height: 25%;
			}
		}